@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

.main-background {
    background: url(../img/first-header-and-section/first-background.png);
    background-size: cover;
    height: 100vh;
}

.alignt-items-header {
    display: flex;
    justify-content: space-around;
    padding: 50px 40px 30px 80px;
    min-width: 1065px;
}

.font-style-header-name {
    font-family: 'Dosis';
    color: white;
    font-weight: 500;
    font-size: 19px;
}

.font-style-header-name:hover {
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-li{
    margin: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: 'Dosis';
    font-weight: 700;
}
.nav-link:hover {
    color:#f1c324;
}

.big-text-align {
    text-align: center;
}

.big-text {
    font-size: 110px;
    align-items: center;
    font-family: Leckerli One;
    font-weight: 400;
    color: white;
    margin-top: 150px; 
}

.header-p {
    font-size: 20px; 
    font-family: 'Roboto'; 
    font-weight: 700; 
    color: white; 
    margin-top: 18px;
}

.first-section-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us-styles-and-title {
    display: block;
    padding-bottom: 18px;
    font-size: 48px;
    font-family: "Dosis";
    font-weight: 700;
}
.hr-style {
    width: 31px; 
    border-top: 6px dotted rgb(36,184, 241);
    margin-bottom: 20px;
}

.container {
    margin: 0 auto auto 100px;
    max-width: 1420px;
    max-height: 658px;

}

.about-us-p {
    width: 565px;
    line-height: 25px;
    margin-bottom: 50px;
    color:rgb(110, 110, 110);
    font-family: 'Roboto';
    font-size: 17px;
}

.img-zebra {
    max-width: 90%;
    height: auto;
}

.button-learn-more {
    border-style: solid;
    border-width: 1px;
    padding: 18px 18px 18px 18px;
    cursor: pointer;
    background-color: rgb(36, 184, 241);
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto';
}

.button-learn-more:hover {
    background-color: #f1c324;
    transition: 300ms;
}











.safari-go_on-reasons-block-wrapper {
    background: url('../img/reasons-to-go-on-safari-background.jpg') fixed;
    padding-bottom: 90px;
}
.reasons-section-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.reasons-section-header {
    padding-top: 90px;
    padding-bottom: 90px;
    margin: 0px auto;
}
.reasons-section-header-text {
    font-size: 48px;
    color: #fff;
    font-family: Dosis,sans-serif;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: -.021em;
    display: block;
    text-align: center;
}
.reasons-section-content-columns {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #000;
}
.generic-column {
    background-color: rgba(20, 20, 20, 0.75);
    text-align: center;
    margin: 30px 20px;
    padding: 20px;
    min-width: 150px;
    max-width: 210px;
    min-height: 300px;
}
.generic-column-icon-element {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent!important;
    box-sizing: border-box;
}
.generic-column-heading-text-content {
    font-size: 25px;
    line-height: 1.31;
    font-family: Dosis,sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
.generic-column-body-text-content {
    font-size: 17px;
    line-height: 1.56;
    font-family: Roboto,sans-serif;
    letter-spacing: 0;
    color: #6e6e6e;
    text-transform: none;
    word-wrap: break-word;
    margin-bottom: 30px;
    word-wrap: break-word;
}




.safari-go_on-ready-block-wrapper {
    background: url('../img/ready-to-go-on-safari-background.jpg');
    background-size: cover;
}
.safari-go_on-ready-inner-block {
    padding-top: 200px;
}
.safari-go_on-ready-header {
    font-size: 48px;
    color: #141414;
    line-height: 1.18;
    font-family: Dosis,sans-serif;
    font-weight: 700;
    letter-spacing: -.021em;
    word-wrap: break-word;
    padding-bottom: 50px;
    text-align: center;
    max-width: 50%;
    padding-left: 30px;
}

.safari-go_on-ready-text-content {
    font-size: 20px;
    line-height: 1.56;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    max-width: 50%;
    padding-left: 50px;
}

.quote-request-button {
    width: 150px;
    height: 50px;
    background-color: #24b8f1;
    border: none;
    display: block;
    margin: 0px auto;
}
.quote-request-button:hover {
    background-color: #f1c41f;
}
.safari-go_on-ready-button-group {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 90px;
    max-width: 50%;
}
.request-button-content {
    font-size: 12px!important;
    line-height: 1em!important;
    letter-spacing: 0!important;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}




.meet-our-team-block-wrapper {
    background:rgb(246, 248, 250);
    padding: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #000;
}
.meet-our-team-header{
    font-size: 48px;
    color: #141414;
    line-height: 1.18;
    font-family: Dosis,sans-serif;
    font-weight: 700;
    letter-spacing: -.021em;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.team-members-carousel-warapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #000;
}

.team-members-carousel-item-generic {
    max-width: 350px;
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
}
.team-members-carousel-item-generic img {
    width: 100%;
}
.team-members-carousel-h2-style {
    font-size: 25px;
    line-height: 1.31;
    font-family: Dosis,sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    color: #141414;
    text-align: center;
    margin: 20px 0px;
}
.team-members-about {
    font-size: 14px;
    line-height: 1.56;
    font-family: Roboto,sans-serif;
    word-wrap: break-word;
    margin: 0px auto 15px auto;
    text-align: center;
    border: 1px solid #000;
}

.team-members-social-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #000;
}


.team-members-social-icons-element {
    width: 70px;
    height: 70px;
    display: inline-block;
}
