
.baner {
background-image: url(../img/img-itinerary/snake-black-fon.webp);
background-size: cover;
}

.banner {
  background-image: url(../img/img-itinerary/mountains-fon.webp);
  background-size: cover;
}

  .yelloy-text {
    color: yellow;
    color: yellow;
  }

  .white-text{
    color: white;
  }


