@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.our-customers-say{
    background-color: black;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.our-customers-say p {
    color: #fff;
}

.our-customers-say h2 {
    color: #f1c324;
    font-family: Dosis, sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.our-customers-say p.customer-name {
    color: #f1c324;
    font-family: Dosis, sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.our-customers-say div.card-container {
    display:flex;
    

}

.our-customers-say .text {
    background-color: rgba(255, 255, 255, 0.07);
    text-align: center;
}

img {
    display: block;
    width: 100%;

}


    
