* {
    margin: 0;
    padding: 0px;
}
header {
    font-family: 'Dosis', sans-serif;
    background-image: url(../img/tansania-header/tanzania-background.webp);
    background-size: cover;
}
.head-line {
    display: flex;
    justify-content: space-around;
    padding: 50px 40px 30px 80px;
    color:white;
    font-size: 19px;
    font-family: Dosis,sans-serif;
    font-weight: 500;
}
nav{
    display: flex;
    justify-content:center;

}
.nav-button {
    margin: 15px;
    font-size: 17px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    color:#fff;
    font-weight: 700;
}
.animal-runs {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 70px;
}  
.a-runs {
    border-color:#fff;
    border-width: 10px;
    border-style: solid;
}
h1 {
    font-size: 48px;
    color: #f1c324;
    line-height: 1.18;
    font-family: Dosis,sans-serif;
    font-weight: 700;
    text-align: center;
}
.tanzania-text {
    display: flex;  
}





